@font-face{
    font-family: pmzd;
    src: url("./static/PangMenZhengDaoBiaoTiTi-1.ttf");
}
body{
    margin: 0;
    padding:0;
    font-family: pmzd ,Verdana,Tahoma, sans-serif;
    color: #2d2d2d;
    letter-spacing: 1px;
}

ul,ol{
    margin: 0;
    padding:0;
    list-style: none;
}
.text-cut{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main{
    height: 100vh;
    background: #f44336;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
}

/* 加载动画 */
.open-load{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #eee;
    z-index: 10;
}

.open-load .progress-box{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 70%;
    transform: translateX(-50%);
}

.open-load .progress-box .progress{
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.2), rgba(0,0,0,.5));
    position: relative;
    margin-bottom: 10px;
    border-radius: 50px;
    overflow: hidden;
}
.open-load .progress-box .progress .value{
    position: absolute;
    width:0%;
    height: 100%;
    background: linear-gradient(to bottom, #E91E63, #FF5722, #E91E63);
    left: 0;
    top: 0;
    transition: width .3s linear;
}

.open-load .progress-box .load-down-num{
    color: #2196F3;
}

.top-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding:10px 14px;
    box-sizing: border-box;
    z-index: 9;
    color: #fff;
    background: linear-gradient(0deg, rgb(103 103 103 / 0), rgb(57 56 56 / 80%));
}
.top-info>.left{
    text-align: left;
    width: 50%;
}
.top-info>.left>.left-item:not(:last-child),
.top-info>.right>.right-item:not(:last-child){
    margin-bottom: 6px;
}
/* 用户信息 */
.top-info>.left>.user{
    display: flex;
    align-items: center;
}
.top-info>.left>.user .logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-right: 6px;
}
.top-info>.left>.user .user-info{
    width: calc(100% - 50px - 6px);
}
.top-info>.left>.user .name{
    margin-bottom: 4px;
    font-size: 16px;
}
.top-info>.left>.user .integral{
    font-size: 14px;
}
.top-info>.right{
    text-align: right;
    font-size: 14px;
}



/* 附加按钮显示 */
.attach-view{
    position: absolute;
    z-index: 9;
    top: 100px;
    right: 14px;
}
.attach-view>.attach-item{
    border-radius: 50%;
    font-size: 12px;
    width: 36px;
    height: 36px;
    /* background: radial-gradient(rgba(255,255,255,.9),rgba(255,255,255,.1)); */
    background-color: #fff;
    text-align: center;
    line-height: 36px;
    box-shadow: 0 0 4px rgba(255,255,255,.8);
}
.attach-view>.attach-item:not(:last-child){
    margin-bottom: 12px;
}

/* 放大缩小控件 */
.zoom-control{
    position: fixed;
    z-index: 9;
    right: 14px;
    bottom: 50px;
}
.zoom-control>li{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #adadad;
    background: #fff;
    color: #3f51b5;
    text-align: center;
    box-sizing: border-box;
    line-height: 34px;
    font-size: 18px;
}
.zoom-control>li.disabled{
    background:#d4d4d4;
    color: #777;
}
.zoom-control>li:not(:last-child){
    margin-bottom: 14px;
}

/* 楼层切换控件 */
.floot-box{
    position: fixed;
    left: 14px;
    top:100px;
    z-index: 9;
}
.floot-box>.floot-show{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #adadad;
    background: #fff;
    color: #3f51b5;
    text-align: center;
    box-sizing: border-box;
    line-height: 34px;
    font-size: 18px;
}
.floot-box>.floot-content{
    margin-top: 4px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 0px;
    transition: height .2s linear;
    overflow: hidden;
}
.floot-box>.floot-content.active{
    height: 68px;
}
.floot-box .floot-item {
    width: 34px;
    height: 34px;
    border: 1px solid #adadad;
    background: #fff;
    color: #3f51b5;
    text-align: center;
    box-sizing: border-box;
    line-height: 34px;
    font-size: 16px;
}

/* 摇骰子内容 */
.dice-box{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    display: none;
}
.dice-box>.dice-btn{
    position: absolute;
    bottom: 20%;
    left: 50%;
    background: #fff;
    padding:10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    transform: translateX(-50%);
    letter-spacing: 2px;
    box-shadow: 0 3px 1px rgba(255,255,255,.5);
    transition:box-shadow .3s linear;
    font-weight: 700;
    color:red;
}
.dice-box>.dice-btn.active{
    box-shadow: 0 0px 0px rgba(0,0,0,.8);
}

/* 规则显示 */
.prop,.dialog{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
}
.prop>.prop-box,.dialog>.dialog-box{
    background: #fff;
    position: absolute;
    min-height: 80px;
    max-height: 80vh;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    width: 80%;
    border: 1px solid rgb(179, 179, 179);
    box-sizing: border-box;
    padding:40px 12px 12px;
    box-shadow: 4px 6px 4px rgba(255,255,255,.3);
}

.prop>.prop-box .hd{
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    top: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
}
.prop>.prop-box .content{
    height: 100%;
    font-size: 14px;
    color: #545454;
}

.prop>.prop-box .close,.dialog .close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    color: #7a7a7a;
    width: 32px;
    height: 32px;
}

/* 弹窗提示 */
.dialog-box.confirm,.dialog-box.alert{
    padding-bottom: 50px;
}
.dialog-box.confirm .hd,.dialog-box.alert .hd{
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    left: 0;
    font-size: 18px;
}

.dialog-box.confirm .content,.dialog-box.alert .content{
    font-size: 15px;
    padding:10px 10px;
    box-sizing: border-box;
    color: #575757;
}

.dialog-box.confirm .footer,.dialog-box.alert .footer{
    position: absolute;
    left: 0;
    bottom:4px;
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0 20px;
    box-sizing: border-box;
}
.dialog-box.confirm .footer .btn,.dialog-box.alert .footer .btn{
    width: 100%;
    text-align: center;
    font-size: 14px;
    background: burlywood;
    border-radius: 20px;
    padding:6px 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.dialog-box.confirm .footer .btn:not(:last-child){
    margin-right: 20px;
}

/* 积分 */
.dialog-box.integral{
    padding: 0;
    background: transparent;
    border: unset;
    box-shadow: unset;
}
.dialog .dialog-box.integral .content{
    text-align: center;
    background: #0059e1;
    position: relative;
    height: 200px;
    border-radius: 20px 20px 0 0;
}

.dialog .dialog-box.integral .content::before,.dialog .dialog-box.integral .content::after{
    content: '';
    display: block;
    height:34%;
    width: 10%;
    position: absolute;
    top: 0;
    transform: translate(-19%,-44%);
    right: 0;
    z-index: 8;
}

.dialog .dialog-box.integral .content::after{
    background: #eee;
    right: 0;
    border-radius: 50%;
}
.dialog .dialog-box.integral .content::before{
    background: #fff;
    transform: translate(-65%, -44.4%);
}

.dialog .dialog-box.integral .content .body{
    padding: 20px 10px;
    box-sizing: border-box;
    background: #fff;
    width: 76%;
    position: absolute;
    height: 115%;
    left: 12%;
    border-radius: 40px 0 0 0;
    bottom: 0;
}
.dialog .dialog-box.integral .content .body::before{
    right: 0;
    height: 86.5%;
    content: '';
    width: 14%;
    background:#0059e1;
    display: block;
    position: absolute;
    transform: translateX(100%);
    bottom: 0;
    z-index: 9;
    border-radius: 0 10px 0 0;
}
.dialog .dialog-box.integral .content .body .title{
    font-size: 18px;
}
.dialog .dialog-box.integral .content .body .value{
    font-size: 24px;
    color: #FFC107;
}
.dialog .dialog-box.integral .content .body .spec{
    margin: 20px 0;
    color: #656565;
}
.dialog .dialog-box.integral .footer{
    text-align: center;
    background: #007dfe;
    border: 4px solid #46a0fe;
    border-radius: 0 0 40px 40px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

.dialog .dialog-box.integral .footer::before,.dialog .dialog-box.integral .footer::after{
    content: '';
    display: block;
    top: 0;
    background: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}
.dialog .dialog-box.integral .footer::before{
    border: 4px solid #46a0fe;
    border-radius: 50%;
    transform: translate(-50%,-60%);
}
.dialog .dialog-box.integral .footer::after{
    transform: translate(-50%,-110%);
    width: 100px;
}
.dialog .dialog-box.integral .footer .btn{
    background: #ffc900;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    margin-top: 14px;
    box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}
.dialog .dialog-box.integral .footer .detail{
    font-size: 14px;
    color: #dadada;
}


/* 积分 */
.integral .ribbon{
    position: absolute;
    width: 100%;
}
.integral .content .gold{
    width: 50%;
    margin-bottom: 20px;
}

/* 地图区域 */
.map-box{
    position: relative;
}
.map-box>.map{
    position: absolute;
    transition: all .1s ease-in-out;
    top: 0;
    left: 0;
}