@font-face{
    font-family: pmzd;
    src: url("./static/PangMenZhengDaoBiaoTiTi-1.ttf");
}

/* 颜色 */
:root{
    --lightColor:#ffdc30;
    --midColor:#FFC107;
    --deepColor:#f09611;
    --btnFontColor:#8a5609;

    --lightGrey:#9E9E9E;
    --deepGrey:#607D8B;

    --integralDeepBg:#0059e1;
    --integralLightBg:#007dfe;
    --integralBorder:#46a0fe;

    --couponBgDeep:#e53f07;
    --couponBglight:#fb571e;
}

body{
    margin: 0;
    padding:0;
    font-family: pmzd ,Verdana,Tahoma, sans-serif;
    color: #2d2d2d;
    letter-spacing: 1px;
}

ul,ol{
    margin: 0;
    padding:0;
    list-style: none;
}
.text-cut{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main{
    height: 100vh;
    background: #f5c01a;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
}

/* 加载动画 */
.open-load{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00324A;
    z-index: 10;
}
.open-load .content{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.open-load .banner{
    width: 90%;
    margin: auto;
}
.open-load .banner img{
    width: 100%;
}
.open-load .progress-box{
    text-align: center;
    margin: 50px auto;
    width: 70%;
}

.open-load .progress-box .progress{
    width: 100%;
    height: 30px;
    background:rgba(0,0,0,.1);
    position: relative;
    margin-bottom: 10px;
    border-radius: 50px;
    overflow: hidden;
    border: 4px solid#219ef2;
    box-shadow: 0px 0px 4px rgba(0,0,0,.8) inset;
    box-sizing: border-box;
}
.open-load .progress-box .progress .value{
    position: absolute;
    border-radius: 50px;
    width:0%;
    height: 100%;
    background: linear-gradient(to left, #2196F3, #03A9F4, #00BCD4);
    left: 0;
    top: 0;
    transition: width .3s linear;
    box-shadow: 0px 0px 4px rgba(0,0,0,.8) inset;
    box-sizing: border-box;
}

.open-load .progress-box .load-down-num{
    color: #2196F3;
}

/* 摇骰子内容 */
.dice-box{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
}
.dice-box>.dice-btn{
    position: absolute;
    bottom: 20%;
    left: 50%;
    background: #fff;
    padding:10px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    transform: translateX(-50%);
    letter-spacing: 2px;
    box-shadow: 0 3px 1px rgba(255,255,255,.5);
    transition:box-shadow .3s linear;
    font-weight: 700;
    color:red;
}
.dice-box>.dice-btn.active{
    box-shadow: 0 0px 0px rgba(0,0,0,.8);
}